.menu{
    display:inline-block;
    text-align: right;
    float: right;
}



mat-card{
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
}

#v11{
    width: 100px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display:inline-block;
}

#v22{
    width: 100px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display:inline-block;
}

#vv33{
    position: fixed;
    bottom: 60px;
    right: 70px;
    z-index: 1;
     
}


table {
    width: 100%;
  }


  @keyframes fade {
    from {
     
      visibility: visible;
    }
    to {
     
      visibility: hidden;
    }
  }
  
 mat-progress-bar {
    animation: fade 2s  forwards;
  }



  
  .tb {
    animation: show 2s 1; 
    animation-fill-mode: forwards; 
    animation-delay: 2s; 
    visibility:hidden;
  
  }


    @keyframes show{
        0%{
            visibility: hidden;
        }
        100% {
            visibility: visible;
        }
        }