<mat-form-field appearance="fill">
    <mat-label>Choose time</mat-label>
    <mat-select  [(ngModel)]="time">
      <mat-option value=5>5 days</mat-option>
      <mat-option  value=10 >10 days</mat-option>
      <mat-option  value=15>15 days</mat-option>
    </mat-select>
    </mat-form-field><br>

Chouse user

<mat-card    *ngFor="let user of users |slice:1">
    
    <br>
    
      
     <mat-checkbox> <a href="mailto: {{user.email}}?body=Link for invaint {{url}}" (click)="invaint(user)" >
       {{user.name}}<br>
       {{user.surname}}<br>
       {{user.login}}<br></a></mat-checkbox>
 
      </mat-card>