<mat-form-field appearance="fill">
    <mat-label>Choose time</mat-label>
    <mat-select  [(ngModel)]="time">
      <mat-option value=5>5 days</mat-option>
      <mat-option  value=10 >10 days</mat-option>
      <mat-option  value=15>15 days</mat-option>
    </mat-select>
    </mat-form-field><br>

Chouse user
 <ul>
              <li *ngFor="let user of users |slice:1 | filter2: 'user'" style=" list-style-type: none; ">
                <mat-checkbox [(ngModel)]="user.courses"
                             
                              >
                  {{user.login}}
                </mat-checkbox>
              </li>
            </ul>

            <button mat-dialog-close mat-raised-button color="primary" type="button" class="add-button" (click)="updateAllComplete()" >
              Add to cours
              </button>
     
       
         
            
              