<app-menu></app-menu>



<div id="v1" style="display: none;" >
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="new-hero"> Name: </mat-label>
        <input matInput id="name" #name /><br>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="new-hero">Surname: </mat-label>
        <input matInput id="surname" #surname ><br>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="new-hero">Login: </mat-label>
        <input matInput id="login" #login ><br>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="new-hero">Role: </mat-label>
        <input matInput id="role" #role ><br>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="new-hero">Courses: </mat-label>
        <input matInput id="courses" #courses ><br>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="new-hero">Email: </mat-label>
        <input matInput id="email" #email ><br>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="new-hero">Tel: </mat-label>
        <input matInput id="tel" #tel ><br>
        </mat-form-field>
    </div>
    
    
    <div>
       
        <input matInput id="id1" #id1 style="visibility: hidden ;" /><br>
      </div>
        <!-- (click) passes input value to add() and then clears the input -->
    
        <button id="v3" style="display: none;"  mat-raised-button color="primary" type="button" class="add-button" (click)="save(id1.value, name.value, surname.value, login.value, role.value, courses.value, email.value, tel.value); surname.value=''; role.value=''; courses.value=''; email.value=''; tel.value=''; login.value=''; name.value='' ">
          save
        </button>
        <button  id="v4" style="display: none;"  mat-raised-button color="primary" type="button" class="add-button" (click)="savea(name.value, surname.value, login.value, role.value, courses.value, email.value, tel.value); surname.value=''; role.value=''; courses.value=''; email.value=''; tel.value=''; login.value=''; name.value='' ">
        save
        </button>
    <br>
    </div>
    <div>
        <button id="v2" style="display: block;" mat-fab color="primary" type="button" class="add-button" (click)="add();">
          <mat-icon>add</mat-icon>
        </button>
    </div>
      
    
       
      
    <br><br>
    <div id="v5" style="display: block;">
    
          <mat-card    *ngFor="let user of users">
          <div class="menu">
              <button  mat-icon-button color="primary" type="button" class="delete" title="delete user"
              (click)="delete(user)"><mat-icon>delete</mat-icon></button>
    
              <button   mat-icon-button color="primary" type="button" class="delete" title="delete user"
              (click)="edit(user)"><mat-icon>create</mat-icon></button>
              <button  mat-icon-button color="primary" type="button" class="delete" title="delete user"
              ><mat-icon>group_add</mat-icon></button>
          </div>
          <br>
            Name: {{user.name}}<br>
            Surname: {{user.surname}}<br>
            login: {{user.login}}<br>
            Role: {{user.role}}<br>
            Courses: {{user.courses}}<br>
            Email: {{user.email}}<br>
            Tel: {{user.tel}}<br>
           
            </mat-card>
          </div>